mixin breadcrumb(category, folder, title)
	nav.breadcrumb.no_select
		.wrapper
			.container
				a(href="https://plaintextlist.com")= "Index"
				if category
					span= " › "
					a(href='https://plaintextlist.com/' + category)= capitalize(category)
				if folder
					span= " › "
					a(href='https://plaintextlist.com/' + category + "/" + folder)= capitalize(title)