mixin header(title, class_name)
	- var app_title = "Plain Text Lists"
	- var app_theme_color = "#ffffff"
	- var app_description = "Quick, updated, copy and paste-able lists for all your needs"

	doctype html
	html(lang='en', class=class_name)
		head
			meta(charset='utf-8')
			meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
			title= title
			link(rel="apple-touch-icon", sizes="180x180", href="/_img/apple-touch-icon.png")
			link(rel="icon", type="image/png", sizes="16x16", href="/_img/favicon-16x16.png")
			link(rel="icon", type="image/png", sizes="32x32", href="/_img/favicon-32x32.png")
			meta(name="application-name", content=app_title)
			meta(property="og:description", content=app_description)
			meta(name="google", content="notranslate")
			meta(name="robots", content="index,follow")
			meta(name="googlebot", content="index,follow")
			meta(name="rating", content="General")
			meta(name="theme-color", content=app_theme_color)
			meta(name="msapplication-TileColor", content=app_theme_color)
			meta(name="renderer", content="webkit")
			meta(name="apple-mobile-web-app-title", content=app_title)
			link(rel='stylesheet', href='/_css/style.css')
		body
			header.no_select
				.wrapper
					.container
						h1
							a(href="/")= "Plain Text Lists"