include _header
include _ad
include _footer

+header("Plain Text List", "index")

section.intro
  .wrapper
    .container
      h3 No popups, No unnecessary formatting. Just a bunch of quick, updated, copy and paste-able lists.

section.categories_index_section
  .wrapper
    .container
      h2.no_select= "Index of Categories"
      ul.category_list
        for category in full_list
          li.half
            a(href=category.title, class=category.title)
              span= capitalize(category.title)

section.popular_lists_section
  .wrapper
    .container
      h2.no_select= "Popular Lists"
      ul.popular_list
        for list in popular_list
          li
            a(href=list.category + '/' + list.folder)
              span.popular_title= list.title
              span.length= ' (' + list.length + ')'
              ol.popular_list_preview
                - for (var i = 0; i < 4; i++)
                  li= list.content[i]

section.complete_index_section
  .wrapper
    .container
      h2.no_select= "Complete Index of Lists"
      #search_wrapper
        label.search_field.no_select
          h3.search_label= "Search"
          input.search(type="text", placeholder="Search " + index_list.length + " lists...")
          span.results
        ul.list.index_list
          for list in index_list
            li
              a.list_link(href=list.list_data.category + '/' + list.list_data.folder)
                span.list_item(data-category=list.list_data.category)= list.list_data.title
              span.length= ' (' + list.list_data.length + ')'
+footer()