include _header
include _breadcrumb
include _ad
include _footer

+header("Plain Text " + list.title, "list")

+breadcrumb(list.category, list.folder, list.title)

section
  .wrapper.split
    .split_container.main(role="article")
      h1.list_title.no_select= capitalize(list.title)
      .copy_wrapper
      .content_list_wrapper
        .content_list.default
          each item, i in list.content
            p.content_item(data-order=i)
              span= item
    .split_container.side.no_select(role="complementary")
      .meta
        .box.length_box
          h3 
            span.meta_label= "Length: "
            span.meta_value= list.length
        if list.source_title
          .box.source_title_box
            h3
              span.meta_label= "Source: "
              span.meta_value
                a(href=list.source_url)= list.source_title
        if list.source_url
          .box.source_url_box.print
            h3
              span.meta_label= "Source url: "
              span.meta_value
                a(href=list.source_url)= list.source_url
        if list.updated
            .box.updated_box
              h3
                span.meta_label= "Updated: "
                span.meta_value= list.updated
        .print
          .box.find_mode_box
              h3
                span.meta_label= "Find more lists: "
                span.meta_value= "https://plaintextlist.com"
      .operations.no_print
        h3= "List order"
        label.box.sort_default
          input(type="radio", onchange="sort('default')", name="sort", checked)
          span= "Default"
        label.box.sort_asc
          input(type="radio", onchange="sort('asc')", name="sort")
          span= "Sort A → Z"
        label.box.sort_desc
          input(type="radio", onchange="sort('desc')", name="sort")
          span= "Sort Z → A"
        label.box.sort_rand
          input(type="radio", onclick="sort('rand')", name="sort")
          span= "Randomize"
      .operations.no_print
        h3= "List style"
        label.box.style_default
          input(type="radio", onchange="listStyle('default')", name="list_style", checked)
          span= "None"
        label.box.style_commas
          input(type="radio", onchange="listStyle('commas')", name="list_style")
          span= "Commas"
        label.box.style_numbers
          input(type="radio", onchange="listStyle('numbers')", name="list_style")
          span= "Numbers"
        label.box.style_bullets
          input(type="radio", onchange="listStyle('bullets')", name="list_style")
          span= "Bullets"
        label.box.style_checkboxes
          input(type="radio", onchange="listStyle('checkboxes')", name="list_style")
          span= "Checkboxes"
      +ad()

+footer()